<script>
    export let data_working={}
    export let direction=null
    export let scaler
    export let week

    let create_path_electricity=(data,week)=>{
        if(week!=52){
        let path="M 0,0";
        data['electricity'].forEach((value,idx)=>{
            path+=" "+(direction*idx)+','+(-scaler(value)+3)
            })
        return path
    }
        else{
            let path="M 0,0";
        data['electricity'].forEach((value,idx)=>{
            path+=" "+(direction*idx)+','+(-scaler(value)+3)
            })
        return path
    }
}
    let create_path_gas=(data)=>{
        let path="M 0,0";
        if(week!=52){
        data['gas'].forEach((value,idx)=>{
            path+=" "+(direction*idx)+','+(scaler(value))
            })
        return path    
    }
        else{
        data['gas'].forEach((value,idx)=>{
            path+=" "+(direction*idx)+','+(scaler(value))
            })
        return path
    }
}
</script>

<g transform="rotate({-direction*20})">
<path class="electricity" d={create_path_electricity(data_working,week)}/>
<path class="gas" d={create_path_gas(data_working,week)}/>
</g>

<style>
    path.electricity{
        fill:blue;
        stroke:darkblue;
    }
    path.gas{
        fill:orange;
        stroke:darkorange;
    }


</style>
