<script>
    export let data_working={}
    export let scaler
    
    let create_heating_path=(data)=>{
        let path="M";
        Object.keys(data).forEach((month)=>{data[month]['heating']
        .forEach((value,idx_day)=>{
            path+=" "+(scaler(value)*Math.sin(Math.PI/180*((month-1)*30.42 + 30.42/data[month]['day']*idx_day)))+','+(-scaler(value)*Math.cos(Math.PI/180*((month-1)*30.42 + 30.42/data[month]['day']*idx_day)))
        })})
        return path
    }
    let create_cooling_path=(data)=>{
        let path="M";
        Object.keys(data).forEach((month)=>{data[month]['cooling']
        .forEach((value,idx_day)=>{
            path+=" "+(scaler(value)*Math.sin(Math.PI/180*((month-1)*30.42 + 30.42/data[month]['day']*idx_day)))+','+(-scaler(value)*Math.cos(Math.PI/180*((month-1)*30.42 + 30.42/data[month]['day']*idx_day)))
        })})
        return path
    }
  </script>
  
  <path class="heating" d={create_heating_path(data_working)}/>
  <path class="cooling" d={create_cooling_path(data_working)}/>
  
  <style>
      path.heating{
        fill:red;
        fill-opacity:0.6;
    }
    path.cooling{
        fill:blue;
        fill-opacity:0.6;
    }
  </style>