<script>
  import {onMount} from 'svelte';
  import {json} from "d3-fetch";
  import {scaleLinear} from 'd3-scale';
  import Daily_data from './_design_2_daily_data.svelte';

  const width = 950;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let heatcool_data=null
  let data_working={}
  let scaler
  
  onMount(async () => {
  heatcool_data = await json('/data/daily_heating_cooling.json')
  heatcool_data.forEach((x)=>{
      if (!(x.city in data_working)){
        data_working[x.city]={}
      }
      if (!(x.month in data_working[x.city])){
        data_working[x.city][x.month]={"heating":[],"cooling":[],'day':null}
      }
      data_working[x.city][x.month]["day"]=x.day
      data_working[x.city][x.month]["heating"].push(x.heating)
      data_working[x.city][x.month]["cooling"].push(x.cooling)
      })
      scaler=scaleLinear().domain([0,150000]).range([0,100])
    })
  </script>
  
  
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      {#each Object.keys(data_working) as city, index}
        <g transform="translate({150 + 300*index},150)" >
          <circle cx=0 cy=0 r=100> </circle>
          <line x1=-100 x2=100/>
          <line y1=-100 y2=100/>
          <text x=-4   y=-110 >0 </text>
          <text x=110  y=5>    3 </text>
          <text x=-4   y=120 > 6 </text>
          <text x=-120 y=5 >   9 </text>
          <text x=-30  y=-130> {city} </text>
          <Daily_data data_working={data_working[city]} {scaler}/>
        </g>
      {/each}
    </g>
  </svg>
  
  
  <style>
    circle {
    fill: white;
    stroke: black;
    }
    line {
    stroke:black;
  }
  </style>