<script>
  import {onMount} from 'svelte'
  import { json } from "d3-fetch";
  import {scaleLinear} from 'd3-scale'
  import Weekly_data from './_design_3_weekly_data.svelte'

  // Size and margins
  const width = 550;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  const itemHeight=(innerHeight-100)/5;

  let electricgas_data=null
  let data_working={}
  let scaler

  onMount(async () => {
  electricgas_data = await json('/data/hourly_electricity_vs_gas_december.json')
  electricgas_data.forEach((x)=>{
      if (!(x.week in data_working)){
        data_working[x.week]={"electricity":[],"gas":[]}
      }

      data_working[x.week]["electricity"].push(x.total_electrity)
      data_working[x.week]["gas"].push(x.total_gas)
      // $: console.log(data_working)
      })
      
      scaler=scaleLinear().domain([0,8000]).range([0,200])
  })

</script>


<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    
    <line x1={innerWidth/2} y1={margin.bottom} x2={innerWidth/2} y2={innerHeight-100}/>
    <!-- Insert data -->
    {#each Object.keys(data_working) as week, index}
    <g transform="translate({innerWidth/2},{-35+innerHeight-itemHeight*(index+1)})">
      <text x={-innerWidth/2} y=-20>Week {week}</text>
      {#if week%2==0}
        <Weekly_data data_working={data_working[week]} {scaler} {week} direction= 1 />
      {:else}
        <Weekly_data data_working={data_working[week]} {scaler} {week} direction=-1 />
      {/if}
      </g>
      {/each}
  </g>
  <!-- Legend -->
  <text font-family = "Brush Script MT" font-size=35 x={innerWidth/2-60} y={innerHeight-35}>Chicago</text>
  <text font-family = "Brush Script MT" font-size=25 x={innerWidth/2-60} y={innerHeight-5}>(December 2014)</text>
  <rect x=10 y={innerHeight - 40} width=15 height=15 fill="blue"></rect>
  <rect x=10 y={innerHeight - 20} width=15 height=15 fill="orange"></rect>
  <text x=30 y={innerHeight - 27}>Electricity</text>
  <text x=30 y={innerHeight - 8}>Gas</text>
</svg>


<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  line {
  stroke:black;
  } 
</style>

