<script>
    const myfavthings = ['MMA','League of Legends','Electronic music'];
    const student = {name: 'Ali Shanaa',
                     myfavthings: myfavthings};
</script>

<p>Hello my name is {student.name} and these are my favorite things: {student.myfavthings}</p> 