<script>
    var count = 0;
    function Click() {
                count += 1
                };
    function reset(){
            count=0
    };
</script>
<button class="btn btn-primary" on:click={Click}>
	{count} clicks
</button>
<input class="btn btn-secondary" type="button" on:click={reset} value="Reset count">
