<script>
  // Updated
  // Imports & Exports
  import { select } from 'd3-selection';
  import { scaleOrdinal, scaleLinear, scaleLog } from 'd3-scale';
  import { axisBottom, axisLeft } from 'd3-axis';
  import { schemeDark2 } from 'd3-scale-chromatic';
  import { extent } from 'd3-array';
  export let data;

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Create scales and axis
  var x_scale = scaleLog().domain([320, 10000]).range([0, innerWidth]);
  var y_scale = scaleLinear().domain([15, 55]).range([innerHeight, 0]);

  var ticks = [500,900,1500,2500,4000,6000]
  var labels = ["$500","$900","$1500","$2500","$4000","$6000"]
  
  function x_axis(x) {axisBottom(x_scale).tickValues(ticks).tickFormat((d,i) => labels[i])(select(x))};
	function y_axis(x) {axisLeft(y_scale)(select(x))};

  // Add scale for colors and radius
  var color = scaleOrdinal(schemeDark2).domain(extent(data.map(function(d){ return d.continent; })));
  var radius = scaleLog().base(10).domain([1,500000000]).range([3,8]);

</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
      {#each data as d}
        {#if (d.income != null) & (d.life_exp != null) & (d.population != null)}
        <circle r = {radius(d.population)} cx = {x_scale(d.income)} cy = {y_scale(d.life_exp)}  fill = {color(d.continent)} 
        fill-opacity = 0.5/>
        {/if}
      {/each}
      <g transform="translate(0,{innerHeight})" use:x_axis={"svg"} />
      <g use:y_axis={"svg"}></g>
      <text x={-innerHeight/2-50} y=-25  font-size=15 transform="rotate(-90)">Life Expectancy</text>
      <text x={innerWidth/2-50} y={innerHeight+35}  font-size=15>GDP per Capita</text>
      <text x={innerWidth/2-175} y=0  font-size=30>Hans Rosling's Gapminder</text>
      <text x={innerWidth-80} y={innerHeight-10} font-size=30>1800</text>  
  </g>
</svg>

