<script>
  // Updated
  const width = 120;
  const height = 120;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const width_rect = 40;
  const height_rect = 40;
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <rect x = {(innerWidth-width_rect)/2} y = {(innerHeight-height_rect)/2} width = {width_rect} height = {height_rect} fill = 'yellow'/>
    <circle cx = {innerWidth - (innerWidth-width_rect)/2} cy = {innerHeight - (innerHeight-height_rect)/2} r = 20 fill = 'skyblue'/>
    <!--  -->
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 0px;
  }
</style>
