<script>
  // Updated
import { extent } from 'd3-array';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  // Scales
  import {scaleLinear} from 'd3-scale';
  import {scaleOrdinal} from 'd3-scale';
  import {schemeDark2} from 'd3-scale-chromatic';  
  const x_scale=scaleLinear().domain([1,9]).range([0,innerWidth]);
  const y_scale=scaleLinear().domain([0,3]).range([innerHeight,0]);
  const colorscale=scaleOrdinal().range(schemeDark2).domain(extent(values, (x) => x.category));

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <rect x="0" y={y_scale(0)} width="800" height="1" />
    {#each values as value}
     <circle r=6 cy={y_scale(+value.y)} cx={x_scale(+value.x)} style="fill: {colorscale(value.category)};"/>
     <text class="valueLabel" x={x_scale(+value.x)} y={y_scale(+value.y)-10}>{value.y} </text> 
     <rect x={x_scale(+value.x)-0.5} y={y_scale(+value.y)+6} width="1" height={innerHeight-y_scale(+value.y)-5} />
    {/each}

   

  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
