<script>
  // Updated
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  import {scaleLinear} from 'd3-scale';
  import {scaleBand} from 'd3-scale';
  import {axisBottom} from 'd3-axis';
  import {axisLeft} from 'd3-axis';
  import {select} from 'd3-selection';

  const x_scaled=scaleBand().range([0,innerWidth]).domain(data.map(d=>d.service));
  const y_scaled=scaleLinear().range([innerHeight,0]).domain([0,3]);

  function yaxis(element){
    let y=axisLeft(y_scaled);
    select(element).call(y);
 }

 function xaxis(element){
    let x=axisBottom(x_scaled);
    select(element).call(x);
 }

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as d}
    <rect x={x_scaled(d.service)} y={y_scaled(+d.viewers)} width="80" height={innerHeight-y_scaled(+d.viewers)} fill="steelblue"/>
    {/each}
  </g>
  <g transform="translate({margin.left},{margin.top})" use:yaxis/>
  <text  x=0 y=0 transform=" translate(25,190) rotate(270)" fill="currentColor" style="font-size:medium;">Viewers (Million) </text>
  <g transform="translate({margin.left},{innerHeight+margin.top})" use:xaxis/>
</svg>
