<script>
    // Updated
    import Scatplot from './_ex_7_scatterplot.svelte';
      import { json } from 'd3-fetch';
      import { onMount } from 'svelte';
    
      let data,gapminder = null;
      onMount(async () => {
        gapminder = await json('../data/gapminder.json');
        data = gapminder.find(d => d.year == '1800').countries
      });
    </script>

    {#if data}
      <Scatplot data={data}/>
    {:else}
      <p>loading...</p>
    {/if}
    
